// development:
// @use "node_modules/@heymarco/sass-selector/index" as selector;
// @use "node_modules/@heymarco/sass-string/index" as string;

// production:
@use "../../../node_modules/@heymarco/sass-selector/index" as selector;
@use "../../../node_modules/@heymarco/sass-string/index" as string;



/// Creates a prefix of css variable based on the specified prefix.
/// @param {String} $var-prefix the prefix to be applied to css variable.
/// @return {String} a prefix of css variable.
@function make-cssvar($var-prefix) {
    @if (string.not-empty($var-prefix)) {
        @return "--#{$var-prefix}-";
    }
    @else {
        @return "--";
    }
}

/// Combines two pars into single one, separated by hypen (-).
/// @param {String} $part-a first part to combine.
/// @param {String} $part-b second part to combine.
/// @return {String} combined partA-partB.
@function part-combine($part-a, $part-b) {
    @if (string.not-empty($part-a)) {
        @if (string.not-empty($part-b)) {
            @return "#{$part-a}-#{$part-b}";
        }
        @else {
            @return $part-a;
        }
    }
    @else {
        @if (string.not-empty($part-b)) {
            @return $part-b;
        }
        @else {
            @return "";
        }
    }
}



$alias      : string.unique-id()        !default;
$class      : ""                        !default;
$var-root   : ":root"                   !default;
$var-prefix : string.unique-id()        !default;
$cssvar     : make-cssvar($var-prefix)  !default;



/// Declares css variable on the html page.
@mixin declare-cssvar {
    @if (string.not-empty($var-root)) { @include selector.selector($var-root) {
        @content;
    }}
}



/// Declares the alias-item style.
/// @param {String} $item the name of the item.
@mixin alias-of($item) {
    @include selector.selector(#{$alias}-#{$item}) {
        @content;
    }
}

/// Declares the alias-***any-items*** style.
@mixin alias-any {
    @include selector.selector(#{$alias}-) {
        @content;
    }
}



/// Declares the alias of basic style.
@mixin alias-basic {
    @include selector.selector(#{$alias}--) {
        @content;
    }
}

/// Declares the alias of composite style.
@mixin alias {
    @include selector.selector(#{$alias}) {
        @content;
    }
}



@mixin class($base: "") {
    @if (string.not-empty($base) or string.not-empty($class)) {
        @include selector.unify($base, $class) {
            @extend #{$alias} !optional;
    
            @content;
        }
    }
}